@import "Palette.css";
@import "fonts/Fonts.css";

#home-view {
    -fx-background-color: -md-sys-color-surface-container-low;
    -fx-background-radius: 20px;
    -fx-padding: 32px;
}

#home-view > .grid-separator {
    -fx-min-height: 24px;
}

#home-view .header {
    -fx-padding: 0px 0px 6px 12px;
}

#home-view .sub-header {
    -fx-padding: 6px 0px 0px 12px;
}