@import "../Palette.css";

.icomoon-view {
    -fx-background-color: -md-sys-color-surface-container-low;
    -fx-background-radius: 20px;
    -fx-padding: 8px;
}

.icomoon-view .st-icon .mfx-font-icon {
    -mfx-color: -md-sys-color-on-primary-container
}

.icomoon-view .st-icon:hover {
    -fx-background-color: -md-sys-color-primary;
}

.icomoon-view .st-icon:hover .mfx-font-icon {
    -mfx-color: white;
}

.icomoon-view .grid {
    -fx-padding: 32px;
    -fx-hgap: 18px;
}

.icomoon-view .grid VBox {
    -fx-background-color: -md-sys-color-surface-container-high;
    -fx-background-radius: 20px;
    -fx-padding: 12px;
}

.icomoon-view .grid .title {
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-line-spacing: 24px;
    -fx-text-fill: -md-sys-color-on-surface;
    -fx-background-color: -md-sys-color-surface-bright;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px 0px 12px 0px;
    -fx-alignment: CENTER;
    -fx-padding: 12px 0px 24px 0px;
    -fx-max-width: 120px;
}

.icomoon-view .grid .valid-label {
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-line-spacing: 20px;
    -fx-text-fill: -md-sys-color-on-surface;
    -fx-background-color: -md-sys-color-surface-bright;
    -fx-background-radius: 10px;
    -fx-padding: 12px;
}

.icomoon-view .grid .valid-label .mfx-font-icon {
    -mfx-size: 24px;
    -mfx-color: #99cc33;
}

.icomoon-view .grid .virtual-scroll-pane {
    -fx-border-color: -md-sys-color-outline-variant;
    -fx-border-radius: 20px;
    -fx-clip-border-radius: 40px;
    -fx-layout-mode: COMPACT;
}

.icomoon-view .grid HBox {
    -fx-min-height: 64px;
}

.icomoon-view .grid .floating-field .layout {
    -fx-background-color: -md-sys-color-surface-bright;
    -fx-background-radius: 10px;
}